*{margin: 0;
padding: 0;}

html {
  scroll-behavior: smooth;
}

@font-face{
    font-family: "title";
    src: url("../../public/fonts/vogue/Vogue.ttf") format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: "playfair";
    src: url("../../public/fonts/playfair/Lexend_Giga/LexendGiga-VariableFont_wght.ttf");
    font-weight: 200;
}

body{
    background-color: black;
}

h1, h2, h3{
    color: white;
    font-family: "title";
    font-weight: 900;
}

p{
    color: white;
    font-family: "playfair";
}

a{
    text-decoration: none;
    font-family: "playfair";
    color: white;
    transition: .5s;
    cursor: pointer;

}
a:hover{
    color: #870900;
    transition: .5s;
}

button{
    background-color: black;
    color: white;
    border: 1px solid #870900;
    border-radius: 50px;
    padding: .5rem 1rem;
    text-transform: uppercase;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    cursor: pointer;
}

span, li{
    color: white;
    font-family: "playfair";
}

li{
    list-style: none;
    font-size: 1.5rem;
}
